.slogan__container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  padding: 2.5% 2.5% 5%;
  position: relative;
}

.stack-image {
  max-width: 100%;
}

.slogan__image {
  grid-column: 6 / -1;
  grid-row: 1;
  padding: 80px 0 0;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.slogan__image._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.slogan__image-frame {
  grid-column: 15 / -1;
  grid-row: 1;
  padding-top: 4%;
  z-index: 1;
  -webkit-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
          transform: translate(0, -120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.slogan__image-frame._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.slogan__text {
  color: #e5248a;
  font-size: 70px;
  text-align: start;
  line-height: 100px;
  white-space: pre-line;
  grid-column: 19 / -1;
  grid-row: 1;
  z-index: 2;
  font-family: 'Storytella';
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.slogan__text._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

picture img {
  max-width: 100%;
}

.color__yellow {
  color: #fde557;
}

.color__pink {
  color: #e5248a;
}

.color__green {
  color: #73b63c;
}

.color__orange {
  color: #f7ab32;
}

.color__blue {
  color: #4bbdd5;
}

@media (max-width: 1200px) {
  .slogan__image {
    grid-column: 2 / -1;
  }

  .slogan__text {
    grid-column: 17 / -1;
  }
}

@media (max-width: 1024px) {
  .slogan__image-frame {
    grid-column: 17 / -1;
  }

  .slogan__text {
    grid-column: 19 / -1;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 480px) {
  .slogan__text {
    font-size: 32px;
    line-height: 50px;
  }
}