.about {
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 9% 20%;
}

.about__text {
  color: white;
  margin: 50px 50px;
  font-size: 25px;
  line-height: 30px;

  transform: translate(0, -120%);
  opacity: 0;
}

.about__text._active {
  transition: all 0.8s ease 0.5s;
  transform: translate(0, 0);
  opacity: 1;
}

.about__user {
  margin: 0 50px;
  display: flex;
  align-items: center;
  color: white;

  transform: translate(0, -120%);
  opacity: 0;
}

.about__user._active {
  transition: all 0.8s ease 0.5s;
  transform: translate(0, 0);
  opacity: 1;
}

.about__user-name {
  padding: 0 25px;
}

.about__slider {
  display: flex;
}



@media (max-width:1024px) {
  .about {
    padding: 9% 10%;
  }

  .about__text {
    margin: 25px 25px;
  }
}
@media (max-width:767px) {
  .about__text {
    font-size: 20px;
    line-height: 23px;
    margin: 10px 10px;
  }

  .about {
    padding: 4% 5%;
  }
}

@media (max-width:480px) {
  .about__text {
    font-size: 15px;
    line-height: 19px;
  }

  .services__title {
    font-size: 25px;
  }
}