.agro-perfect {
  background-image: url(/src/assets/images/agro-perfect.png);
  background-position: right;
  background-repeat: no-repeat;
  color: white;
}

.agro-perfect__title {
  font-size: 40px;
  line-height: 50px;
  padding: 7% 13% 1.5%;;
}

.agro-perfect__text {
  padding: 0 0 0 13%;
  display: inline-block;
  width: 540px;
  line-height: 23px;
  font-size: 14px;
}

.agro-perfect__btn-container {
  padding: 3% 0 13.5% 13%;
}

.agro-perfect__button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #fcdb5a;
  border: none;
}