.blog {
  margin: 140px 0;
}

.post {
  background-repeat: no-repeat;
  max-width: 369px;
  width: 100%;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-blend-mode: darken;

  transform: scale3d(0);
  opacity: 0;
}

.post._active {
  transform: scale3d(1);
  opacity: 1;
}

.posts {
  margin: 55px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-1 {
  background-image: url(../images/post1.png);
  
}

.post-1._active {
  transition: all 1s ease 0s;
}

.post-2 {
  background-image: url(../images/post2.png);
  transition: all 1s ease 0.4s;
}

.post-3 {
  background-image: url(../images/post3.png);
  transition: all 1s ease 0.8s;
}

.post__img {
  position: absolute;
  z-index: -1;
}

.post__date {
  width: 61px;
  height: 65px;
  background-color: #fde557;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.post__article-title {
  margin: 0 0 28px 29px;
}

.post__title {
  color: #e7cd4d;
}

.post__subtitle {
  color: white;
}

.post__article-title {
  white-space: pre-line;
}

@media (max-width: 480px) {
  .post, .post__img {
    max-width: 246px;
    width: 100%;
    height: 246px;
  }

  .blog {
    margin: 40px auto;
  }
}