.progress {
  margin: 150px auto
}

.progress__container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.progress__item {
  display: flex;
  margin-top: 80px;
}

.progress__item-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
}

.progress__amount {
  font-size: 40px;
}