.services__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;

  transform: translate(0, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.services__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.services__title_color {
  color: white;
}

.services__text {
  text-align: center;

  transform: translate(0, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.services__text._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease 0.5s;
}

.services__menu {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 75px;
  text-align: center;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.sevices__menu-item {
  padding: 3%;
}

.sevices__item-title {
  padding: 30px 0 0;
  font-family: 'Raleway-Bold';
}

.services__menu-img {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

._anim-show-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.steak-house._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}

.tasty-cereals._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.italian-pizza._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}

.vegetarian-burgers._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 0.8s;
}

.awesome-cupcake._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 1s;
}

.vegetables._active {
  transform:  scale(1);
  opacity: 1;
  transition: all 0.8s ease 1.2s;
}